VITE_API_BASE_URL=url-base-backend/api
VITE_BASE_URL=url-base-frontend
DATABASE_URL=url-database
BASE_URL=url-base-frontend
SALT_HASHID=chave-aleatoria-para-hashids
INITIAL_COUNTER=valor-inicial-para-contador-de-links-curtos

REDIS_CLIENT_PASSWORD=redis-password
REDIS_CLIENT_HOST=redis-host
REDIS_CLIENT_PORT=redis-port
REDIS_CLIENT_USERNAME=redis-username